<div class="taskContainer">

<mat-card class="header-row">
    <mat-toolbar >
      <h2>TASKS</h2>
    </mat-toolbar>

    <form  [formGroup]="form">
      <mat-form-field class="full-width">
        <input matInput placeholder="NAME" formControlName="name">
        <mat-error *ngIf="form.get('name')?.invalid">{{getErrorMessage('name')}}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="COST" formControlName="cost">
        <mat-error *ngIf="form.get('cost')?.invalid">{{getErrorMessage('cost')}}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="LIMIT DATE" formControlName="limitDate">
        <mat-error *ngIf="form.get('limitDate')?.invalid">{{getErrorMessage('limitDate')}}</mat-error>
      </mat-form-field>

    </form>

  <mat-card-actions  align="end">
    <button (click)="onCancel()" style="margin: 8px 8px 8px 0;" color="accent" mat-raised-button>CANCEL</button>
    <button (click)="onSubmit()" style="margin: 8px 8px 8px 0;" color="primary" mat-raised-button>SAVE</button>
  </mat-card-actions>
</mat-card>
</div>
