.taskContainer {
  padding: 20px;
  min-width: 800px;
}

.header-row {
  background-color: rgb(0, 128, 128);
  border-top: black 2px outset;
  border-right: black 2px outset;
  border-left: black 2px outset;
  border-radius: 4px 4px 0 0;
  border-collapse: collapse;
}

.footer-row {
  background-color: rgb(0, 128, 128);
  border-bottom: black 2px outset;
  border-right: black 2px outset;
  border-left: black 2px outset;
  border-radius: 0 0 4px 4px;
  border-collapse: collapse;
}

mat-header-cell, mat-cell {
  justify-content: center;
}

mat-header-row, mat-row {
  border-left: black 2px outset;
  border-right: black 2px outset;
  border-collapse: collapse;
}

.hand {
  cursor: grab;
}

.emphasis {
  background-color: rgb(192, 192, 0);
  color: black;
}

.column120px{
  max-width: 120px;
  white-space: nowrap;
}

.clName{
  text-align: center;
}

